:root {
  --vp-c-brand-1: #fe8123;
  --vp-c-brand-2: #e5701a;
  --vp-c-brand-3: #cc6012; 
  --vp-button-brand-bg: #fe8123;
  --vp-button-brand-hover-bg: #e5701a;
  --vp-button-brand-active-bg: #cc6012;
}
